In [1]:
import pandas as pd
import numpy as np
import math
import statistics
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [12]:
kcdf = pd.read_csv('~/Documents/GitHub/regression-washington/data/kc_house_data.csv')
train_data = pd.read_csv('~/Documents/GitHub/regression-washington/data/kc_house_train_data.csv')
test_data = pd.read_csv('~/Documents/GitHub/regression-washington/data/kc_house_test_data.csv')

In [17]:
train_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [18]:
test_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,114101516,20140528T000000,310000.0,3,1.0,1430,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.7558,-122.229,1780,12697
1,9297300055,20150124T000000,650000.0,4,3.0,2950,5000,2.0,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140,4000
2,1202000200,20141103T000000,233000.0,3,2.0,1710,4697,1.5,0,0,...,6,1710,0,1941,0,98002,47.3048,-122.218,1030,4705
3,8562750320,20141110T000000,580500.0,3,2.5,2320,3980,2.0,0,0,...,8,2320,0,2003,0,98027,47.5391,-122.070,2580,3980
4,7589200193,20141110T000000,535000.0,3,1.0,1090,3000,1.5,0,0,...,8,1090,0,1929,0,98117,47.6889,-122.375,1570,5080

In [20]:
def simple_linear_regression(input_feature, output):
    N1 = float(len(input_feature))
    N2 = float(len(output))
    if N1 != N2: 
        return("Input not the same legnth as output")
    
    sum_input = sum(input_feature)
    sum_output = sum(output)
    sum_input_output =  sum(input_feature*output)
    sum_input_square = sum(input_feature**2)
    slope = (sum_input_output - (sum_input*sum_output/N1))/(sum_input_square - (sum_input*sum_input/N1))
    intercept = sum_output/N1 - slope*sum_input/N1
    return(intercept, slope)

In [36]:
### Step4
input_feature = train_data['sqft_living']
output = train_data['price']
squarefeet_intercept, squarfeet_slope = simple_linear_regression(input_feature, output)
print(squarfeet_slope, squarefeet_intercept)

281.9588396303426 -47116.07907289418

In [23]:
## Step 5
def get_regression_predictions(input_feature, intercept, slope):
    predictions = intercept + slope*input_feature
    return(predictions)

In [25]:
# 6. Quiz Question: Using your Slope and Intercept from (4), What is the predicted price for a house with 2650 sqft?
round(get_regression_predictions(2650, squarefeet_intercept, squarfeet_slope),2)

700074.85

In [37]:
## Step 7
def get_residual_sum_of_squares(input_feature, output, intercept, slope):
    predictions = get_regression_predictions(input_feature, intercept, slope)
    RSS = sum((output-predictions)**2)
    return(RSS)

In [38]:
## 8. Quiz Question: According to this function and the slope and intercept from (4) What is the RSS for the simple linear regression using squarefeet to predict prices on TRAINING data?
residual_model_sqft = get_residual_sum_of_squares(input_feature, output, squarefeet_intercept, squarfeet_slope)
print('%e' %residual_model_sqft)

1.201918e+15

In [28]:
## Step 9
def inverse_regression_predictions(output, intercept, slope):
    estimated_input = (output - intercept)/slope
    return(estimated_input)

In [29]:
##  Quiz Question: According to this function and the regression slope and intercept from (3) what is the estimated square-feet for a house costing $800,000?
round(inverse_regression_predictions(800000, squarefeet_intercept,squarfeet_slope ))

3004

In [33]:
## Step 11 Instead of using ‘sqft_living’ to estimate prices we could use ‘bedrooms’
input_feature = train_data['bedrooms']
output = train_data['price']
bedroom_intercept, bedroom_slope = simple_linear_regression(input_feature, output)

In [35]:
## Step 12
residual_model_bed =get_residual_sum_of_squares(input_feature, output, squarefeet_intercept, squarfeet_slope)
print('%e' %residual_model_bed)

8.334814e+15

In [39]:
## Step 13
residual_model_sqft < residual_model_bed

True